# systemctl
alias st="sudo systemctl status"
alias enable="sudo systemctl enable"
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias restart="sudo systemctl restart"

# docker
alias dp="docker ps"
alias dv="docker volume ls"
alias dvc="docker volume prune"

# configs
alias zrc="nvim ~/.config/zsh/.zshrc"
alias vrc="nvim ~/.config/nvim/init.lua"
alias xrc="nvim ~/.xinitrc"

# journal
alias j="journalctl"

# linux basic commands
alias l="exa -lhg --group-directories-first"
alias la="exa -lahg --group-directories-first"
alias cat="bat"

# programs
alias v="nvim"
alias i="sxiv"

# shortcuts
alias ep="echo $PATH"
alias h="cd"
alias c="clear"
alias e="exit"
alias t="tmux"
alias w="cd ~/code/digitalhud/ajgenerators.co.uk/"
alias ws="cd ~/code/mechanic360/; hugo server -D"
alias wv="cd ~/code/mechanic360/; v ."
alias tree="tree -L 5 -I 'node_modules|cdk.out|elm-stuff' --dirsfirst"

# golang specific shortcuts
alias gt="go test ./..."
