# systemctl
alias st="sudo systemctl status"
alias enable="sudo systemctl enable"
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias restart="sudo systemctl restart"

# docker
alias dp="docker ps"
alias dv="docker volume ls"
alias dvc="docker volume prune"

# configs
alias zrc="nvim ~/.config/zsh/.zshrc"
alias vrc="nvim ~/.config/nvim/init.vim"
alias xrc="nvim ~/.xinitrc"
alias zsrc="source ~/.config/zsh/.zshrc"

# journal
alias j="journalctl"

# linux basic commands
alias l="exa -lahg --group-directories-first"
alias lsa="exa -lahg"
alias cat="bat"

# programs
alias v="nvim"
alias i="sxiv"
alias awsume=". awsume"
alias cs="cage status"
alias cl="cage logs -f"
alias rg="rg --color=always"

# shortcuts
alias ep="echo $PATH"
alias h="cd"
alias c="clear"
alias e="exit"
alias t="tmux"
alias w="cd ~/code/rooster/"
alias wu="cd ~/code/rooster/rooster-money-app-v2/"
alias wdb="cd ~/code/rooster/rooster-payments-dbschema"
alias wns="cd ~/code/rooster/rooster-node-services"
alias wpp="cd ~/code/rooster/rooster-payments-processor"
