# systemctl
alias st="sudo systemctl status"
alias enable="sudo systemctl enable"
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias restart="sudo systemctl restart"

# docker
alias dp="docker ps"
alias dv="docker volume ls"
alias dvc="docker volume prune"

# configs
alias zrc="nvim ~/.config/zsh/.zshrc"
alias vrc="nvim ~/.config/nvim/init.vim"
alias xrc="nvim ~/.xinitrc"

# journal
alias j="journalctl"

# linux basic commands
alias ls="exa -lhg"
alias lsa="exa -lahg"
alias cat="bat"

# programs
alias v="nvim"
alias i="sxiv"

# shortcuts
alias ep="echo $PATH"
alias h="cd"
alias c="clear"
alias e="exit"
alias t="tmux"
alias ws="cd ~/code/mechanic360-site/; hugo server -D"
alias wv="cd ~/code/mechanic360-site/; v ."
